/* NOTE: Although only slightly different from one another, the slime/copmose wrappers and containers are
 * my way of designing th
*/

/*What the "slime" frame will look like*/
.slime-wrapper {
  border: 3px solid #e6ecf0;
  width:30%;
  margin-left:35%;
  margin-bottom:50px;
  border-radius:10px;
  padding: 18px;
}

.slime-wrapper-profile {
  border: 3px solid #e6ecf0;
  width:75%;
  margin-left:35%;
  margin-bottom:50px;
  border-radius:10px;
  padding: 18px;
}

/*Creating a bordered window around the slime*/
.slime-imgcontain {
  border: 3px solid #e6ecf0;
  max-width:50%;
  background: #fff;
  margin-left:inherit;
  margin-top: 15%;
  margin-bottom:20%;
  border-radius:10px;
  padding: 10px;
  
}

/*Adjusting certain elements slightly to fit the compsure frame*/
.compose-imgcontain {
  border: 3px solid #e6ecf0;
  max-width:50%;
  background: #fff;
  margin-left:80%;
  margin-top: inherit;
  margin-bottom:inherit;
  border-radius:10px;
  padding: 10px;
}

/*see .compose-imgcontain*/
.compose-textcontain {
  border: 3px solid #e6ecf0;
  max-width:25%;
  max-height:200px;
  background: #fff;
  margin:inherit;
  border-radius:10px;
  padding: 10px;
}

/*
Editing the layout of the tweet text
*/
.slime-wrapper p {
  font-size: 15px;
  font-weight:600;
}

.user {
  font-weight:normal;
  text-align: center;
  margin-left:20px;
}

.icon-green {
  color:#198754;
}

.icon-red {
  color:#dc3545;
}

.icon-blue{
  color: #0dcaf0;
}

.icon-black{
  color: black;
}